:root {
  --color-background: #1c1b19;
  --color-on-background: #e6e2de;
  --color-surface: #272623;
  --color-on-surface: #e6e2de;
  --color-primary: #d0c79d;
  --color-on-primary: #363112;
  --color-secondary: #cbc6b9;
  --color-on-secondary: #333027;
  --color-tertiary: #bec9c0;
  --color-on-tertiary: #29332c;
}

/* Mobile */
@media only screen and (max-width: 60em) {
  main {
    flex-direction: column;
  }
  main > * + * {
    margin-top: 2em;
  }
  .container-notes {
    flex-direction: column;
  }
  .container-notes > * + * {
    margin-top: 8px;
  }

  .list-background {
    overflow: auto;
  }
}
/* Desktop */
@media only screen and (min-width: 60.1em) {
  main > * + * {
    margin-left: 8px;
  }
  .container-notes {
    flex-direction: row;
  }
  .container-notes > * + * {
    margin-left: 8px;
  }
  .list-note {
    flex-wrap: wrap;
  }
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

.card {
  background-color: var(--color-surface);
  padding: 1em;
  border-radius: 8px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-background);
  min-width: 425px;
}

h1,
h2 {
  font-family: "Indie Flower";
}
h2 {
  text-align: center;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: var(--color-on-surface);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

input:focus,
textarea:focus {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-on-surface);
  font-weight: bold;
  font-style: italic;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: var(--color-on-primary);
  font-weight: normal;
}

.char-remaining {
  display: none;
  margin: 0;
  font-size: 0.75em;
  text-align: end;
}

textarea {
  height: auto;
  min-height: 80px;
  max-height: 200px;
  overflow: auto;
  resize: vertical;
}

button {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
  border: 1px solid var(--color-surface);
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
button.green {
  color: darkgreen;
}
button.red {
  color: darkred;
}
button:hover {
  box-shadow: 0 0 16px 2px var(--color-tertiary);
}
button.green:hover {
  box-shadow: 0 0 16px 2px darkgreen;
}
button.red:hover {
  box-shadow: 0 0 16px 2px darkred;
}

header {
  border-radius: 0 0 8px 8px;
  padding: 12px;
  text-align: center;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}
.container-search {
  display: flex;
  margin: 0 5%;
}
#input-search {
  width: 100%;
}
main {
  display: flex;
  margin: 0 5%;
}

.container-newnote {
  height: fit-content;
}
.container-newnote form {
  display: flex;
  flex-direction: column;
}

.container-notes {
  display: flex;
  flex-basis: 0.5;
  width: 100%;
}

.list-default {
  width: 100%;
  height: 100%;
}

h2 + * {
  margin-top: 1em;
}
.list-background {
  height: fit-content;
}
.list-note {
  display: flex;
  width: 100%;
}
.list-note > .div-empty {
  width: 100%;
  text-align: center;
}
.item-note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
  min-width: 200px;
  width: 200px;
  min-height: 300px;
  height: 300px;
  cursor: zoom-in;
}
.item-note.card {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.item-note:hover {
  box-shadow: 0 0 16px 2px var(--color-primary);
}
.item-note > * + * {
  margin-top: 4px;
}
.item-note .caption {
  font-size: 0.75em;
  text-align: end;
}
.item-note p {
  display: flex;
  flex-direction: column;
  height: 135px;
  overflow: hidden;
}
.item-note .item-actions {
  display: flex;
  flex-direction: column;
}
.item-note .item-actions > * + * {
  margin-top: 4px;
}
